{% extends 'base.html' %}

{% block content %}
{% load static %}

    <!-- ##### Hero Area Start ##### -->
    <div class="hero-area">
        <!-- Hero Slides Area -->
        <div class="hero-slides owl-carousel">
            <!-- Single Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/b1.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="slide-content text-center">
                                <div class="post-tag">
                                    <a href="#" data-animation="fadeInUp">lifestyle</a>
                                </div>
                                <h2 data-animation="fadeInUp" data-delay="250ms"><a href="#">Take a look at last night’s party!</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slide -->
            <div class="single-hero-slide bg-img" style="background-image:  url({% static 'img/bg-img/b2.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="slide-content text-center">
                                <div class="post-tag">
                                    <a href="#" data-animation="fadeInUp">lifestyle</a>
                                </div>
                                <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">Take a look at last night’s party!</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slide -->
            <div class="single-hero-slide bg-img" style="background-image:  url({% static 'img/bg-img/b3.jpg' %});"">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="slide-content text-center">
                                <div class="post-tag">
                                    <a href="#" data-animation="fadeInUp">lifestyle</a>
                                </div>
                                <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">Take a look at last night’s party!</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Hero Area End ##### -->
        <br>
        <br>
        <br>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9 blog-create">
                <form action="{% url 'saveimage' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <span>
                        <label hidden for='id_caption'>Add Caption</label>
                        <input class="" placeholder="Add Caption" id='id_caption' name='caption'>
                    </span>
                    <div class="option-Image-upload">
                        <span style="align-items: center; justify-content: space-around;">
                            <input id='id_image' type='file' accept="accept/*" name='image' hidden>
                            <label for='id_image' style="margin: 0 10px; cursor: pointer;">Upload Image</label>
                        </span>
                    </div>  
                    <br>
                    <span>
                        <button type="submit" class="btn original-btn" style="">Submit</button>
                    </span>
                </form>
            </div>
        <!-- ##### Sidebar Area ##### -->
        <div class="col-12 col-md-4 col-lg-3">
            <div class="post-sidebar-area">

                <!-- Widget Area -->
                <div class="sidebar-widget-area">
                    <form action="{% url 'searchblog' %}" class="search-form">
                        <input type="search" name="search" id="searchForm" placeholder="Search">
                        <input type="submit" value="submit">
                    </form>
                </div>

                <!-- Widget Area -->
                <div class="sidebar-widget-area">
                    <h5 class="title subscribe-title">Subscribe to my newsletter</h5>
                    <div class="widget-content">
                        <form action="#" class="newsletterForm">
                            <input type="email" name="email" id="subscribesForm" placeholder="Your e-mail here">
                            <button type="submit" class="btn original-btn">Subscribe</button>
                        </form>
                    </div>
                </div>

                <!-- Widget Area -->
                <div class="sidebar-widget-area">
                    <h5 class="title">Advertisement</h5>
                    <a href="#"><img src="{% static 'img/bg-img/add.gif' %}" alt=""></a>
                </div>

                <!-- Widget Area -->
                <div class="sidebar-widget-area">
                    <h5 class="title">Latest Posts</h5>

                    <div class="widget-content">

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex align-items-center widget-post">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail">
                                <img src="{% static 'img/blog-img/lp1.jpg' %}" alt="">
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <a href="#" class="post-tag">Lifestyle</a>
                                <h4><a href="#" class="post-headline">Party people in the house</a></h4>
                                <div class="post-meta">
                                    <p><a href="#">12 March</a></p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex align-items-center widget-post">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail">
                                <img src="{% static 'img/blog-img/lp2.jpg' %}" alt="">
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <a href="#" class="post-tag">Lifestyle</a>
                                <h4><a href="#" class="post-headline">A sunday in the park</a></h4>
                                <div class="post-meta">
                                    <p><a href="#">12 March</a></p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex align-items-center widget-post">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail">
                                <img src="{% static 'img/blog-img/lp3.jpg' %}" alt="">
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <a href="#" class="post-tag">Lifestyle</a>
                                <h4><a href="#" class="post-headline">Party people in the house</a></h4>
                                <div class="post-meta">
                                    <p><a href="#">12 March</a></p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex align-items-center widget-post">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail">
                                <img src="{% static 'img/blog-img/lp4.jpg' %}" alt="">
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <a href="#" class="post-tag">Lifestyle</a>
                                <h4><a href="#" class="post-headline">A sunday in the park</a></h4>
                                <div class="post-meta">
                                    <p><a href="#">12 March</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>

{% endblock %}